:root{
  --txt-primary-white: #0000000;
  --txt-primary-white: #FFFFFF;
  --standard-blue: #5492d7;
  --standard-green: #30D880;
  --background-main: ##F7F8FE;
  --button-next: #337DFF;
  --button-next-hover: #2c6ee1;
  --alert-fomr: #FC6D8A;
  --txt-logo-rierr: #1A2945;
  --bg-white: #FFFFFF;
  --staps: #A1A5B3;
  --staps: rgba(161, 165, 179, 0.228);
}

